* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.btn-container {
    padding: 0.5rem 4rem;

    button {
        border: groove;
        font-size: 2rem;
        margin: 1rem;
        padding: 1.3rem;
        border-radius: 3rem;
        background-color: #222;
        color: #FFD400;
    }
}

header {
    nav {
        background-color: #FFD400;
        max-width: 100vw;
        min-height: 15vh;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        border: 0.2rem groove;


        .logo {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 0.2rem groove #ffffff;
            object-fit: cover;
            overflow: hidden;

        }

        ul {
            display: flex;
            gap: 1rem;

            li {
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: #222;
                    border: 0.2rem dashed;
                    padding: 1rem;
                    font-weight: 1000;
                    
                }
            }
        }


    }
}


main {
    max-width: 100vw;
    height: calc(100vh - 15vh);
    background-color: #FFD400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    border: 0.2rem groove;

    .left {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        
        h1 {
            font-size: 5rem;
            max-width: 40rem;
            word-spacing: -0.5rem;
            line-height: 5rem;
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.8rem;
            font-weight: 600;
            max-width: 40rem;
            word-spacing: 0.4rem;
            line-height: 2rem;
            margin-bottom: 2rem;
            border: 0.2rem dashed;
            padding: 2rem;
        
        }

    }

    .right {
        .dashed-bg{
            border: 0.2rem dashed #ffffff;
            box-shadow: 30px 20px 15px rgba(59, 56, 56, 0.5);
            border-radius: 50%;
            padding: 0.8rem;

            .img-bg{
              background-color: #222;
              border-radius: 50%; 
              transform: scaleX(1);
            }
        }
    }

}